        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: 'Poppins', sans-serif;
            background-color: whitesmoke;
        }
        
        .section-pic img {
            width: 400px;
            border-radius: 40%;
            margin-left: 50px;
            margin-top: 50px;
        }
        
        .name {
            text-align: center;
            font-size: 30px;
        }
        
        nav {
            justify-content: space-around;
            align-items: center;
            height: 8vh;
            background-color: green;
        }
        
        h3 {}