/* Reset some default styles */

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a,
btn {
    transition: all 300ms ease;
}

nav,
.links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

#hamburger {
    display: none;
}

.hamburger-menu {
    display: inline-block;
    position: relative;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34px;
    width: 30px;
    cursor: pointer;
}

.fab fa-linkedin fa-beat {
    font-size: 50px;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-text {
    display: flex;
    margin-top: -20%;
    margin-left: auto;
    margin-right: 30%;
    font-size: 50PX;
}

.btn {
    margin-left: auto;
    font-size: 50px;
    /* Add this line to move it to the right */
}

.profile_pic img {
    width: 550px;
    /* Adjust the width to your preference */
    height: auto;
    /* Maintain the aspect ratio */
    border-radius: 50%;
    /* Optional: add border-radius for a circular shape */
}