* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(0, 0, 0);
}

a,
btn {
    transition: all 300ms ease;
}

.h1 {
    font-size: 2rem;
}


/* Desktop nav */

nav,
.links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(4, 4, 4);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(0, 0, 0);
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-left: 7%;
    margin-top: 10%;
}

.logo:hover {
    cursor: default;
}


/* Hamburger*/

#hamburger {
    display: none;
}

.hamburger-nav {
    display: none;
}

.hamburger-menu {
    display: inline-block;
    position: relative;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.fab fa-linkedin fa-beat {
    font-size: 50px;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-text {
    display: flex;
    margin-top: 10%;
    margin-left: auto;
    margin-right: 30%;
    font-size: 50PX;
}

.section-text p {
    font-weight: 600;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 5rem;
}

.btn-color,
.btn-color {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color:hover,
.btn-color1:hover {
    cursor: pointer;
}

.btn-color,
.btn-color1:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color1:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-color:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

.profile_pic img {
    width: 470px;
    height: auto;
    margin-left: 69%;
    margin-top: -24%;
}

.section-pic img {
    width: 400px;
}

.title {
    margin-left: 50%;
}